body {
  color: #000000;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #F3F3E7; */
  /* background-color: #f5f1fd; */
  background-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ui.header {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:rgb(255, 255, 255);  
}

.ui.search.dropdown>.text {
  font-weight: bold;
  /* color:#4d8a8a; */
  color:#6b85b4;
}

.ui.dropdown:not(.button)>.default.text {
  font-weight: normal;
  color: rgba(165, 165, 165, 0.87);
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.label {
  font-size: 11pt;
  padding-bottom: 5px;
  
}

.ui.label {
  /* color:#4d8a8a; */
  color:#5d75a3;
  background-color: #ffffff;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.ui.multiple.dropdown>.label {
  box-shadow: 0 0 0 1px rgb(34 36 38 / 15%) inset;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-weight: bolder;
  padding: .48em;
}

.ui.dropdown .menu>.item,
.ui.dropdown.selected,
.ui.dropdown .menu .selected.item {
  color: rgba(165, 165, 165, 0.87);
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.ui.selection.dropdown {
  border: 0px solid rgba(29, 30, 32, 0.15);
}

.ui.button {
  background:#7bdada;
  color:#fdfdfd;
  font-weight: 2000px;
  border-color: #ffffff;
  border-style: solid;
  border-width: 4px;
  font-size: 12pt;
}

.ui.form {
  padding-top: 2rem;
}

.directions-control {
  font: 8px/10px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.directions-control.directions-control-directions {
  background: rgba(57, 56, 71, 0.747);
  margin: 7px 0 0;
  color: #5d75a3;
}



.page_header {
  color: #21232c;
  background-size: cover;
  background-image: url("https://images.squarespace-cdn.com/content/v1/5730e30740261d67c70e1dad/1598471773428-38NRF0DD0O5OYSFHQD72/Screen+Shot+2020-08-26+at+2.46.53+PM.png?format=2500w");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5px 20px;
  margin: 8px 0;
  border-radius: 12px;
}

.restaurant_name {
  color: #6b85b4f1;
  width: 10em;
  height: auto;
  border-radius: 12px;
  padding-left: 0px;
  padding-top: 7px;
  margin: 5px 0;
}
.results {
  color: #21232c;
  background-color: #ecaf3c;
  padding: 20px 20px;
  margin: 8px 0;
  border-radius: 12px;
}
.form {
  color: #ffffff;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 12px;
  /* background-color: #21232c; */
  background-color: #7bdada;
}

.map-container {
  height: 500px;
  /* border-color: #ffffff;
  border-style: solid; */
  /* border-width: 4px; */
  border-radius: 12px;
}

.mapbox-directions-component-keyline {
  box-shadow: 0 0 0 0px rgb(0 0 0 / 10%);
}



.mapboxgl-ctrl-directions {
  width: 33.33333%;
  min-width: 220px;
  max-width: 250px;
}

.mapbox-directions-component * {
  box-sizing:border-box;
}

.mapboxgl-ctrl-geocoder input[type='text'] {
  font-size: 10px;
  width: 100%;
  border: 0;
  background-color: transparent;
  height: 40px;
  padding: 10px 40px 10px 10px;
}

.mapbox-directions-profile {
  background: #fff;
  margin: px 0 0;
  padding: 0px;
  padding-top: 4px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.mapbox-directions-step {
  position: relative;
  color: rgba(255, 255, 255, 0.932);
  cursor: pointer;
  padding: 20px 20px 20px 40px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 300;
  letter-spacing: 0.1em;
}

.mapbox-directions-route-summary {
  position: relative;
  z-index: 1;
  width: 100%;
  background-color: #7a7fce;
  color: #fff;
  padding: 5px 10px;
  font-size: 15px;
  line-height: 28px;
  border-radius: 3px;
}

.button {
  color: rgb(70, 180, 207);
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
  }

.marker {
  background-image: url('mapbox-icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.rest_item_result {
  padding-bottom: 30px;
}